<!DOCTYPE html>
<html>
<head>
    <title>P치gina Privada</title>
</head>
<body>
    <h1>Bienvenido, <%= username %>!</h1>
    <p>Esta es una p치gina protegida que requiere inicio de sesi칩n.</p>
    <a href="/logout">Cerrar Sesi칩n</a>
</body>
</html>
