/* bottom-bar.css */
#bottom-bar {
    text-align: center;
    background-color: rgba(208, 96, 18, 0.9); /* Usar RGBA para un poco de transparencia */
    color: white;
    width: 100vw; /* Ancho completo de la ventana gráfica */
    height: 10vh; /* Altura ajustada al diseño */
    margin: 0;
    font-size: 1.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
}

#auth-status {
    font-size: 1.2em;
    margin-bottom: 1vh;
}

#auth-actions button {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 2vh;
    padding: 1vh 2vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

#auth-actions button:hover {
    background-color: #0056b3;
    color: white;
}
