body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambio para alinear desde arriba */
    align-items: stretch; /* Ajustar para que los elementos ocupen todo el ancho */
    height: 100vh;
    margin: 0; /* Eliminar margen por defecto */
}

.icon-container {
    position: fixed;
    top: 0;
    width: 100%; /* Ajustar al ancho completo */
    height: 10vh; /* Altura fija para el icono */
    z-index: 100; /* Asegurar que esté sobre otros elementos */
    /* Añadir más estilos si es necesario */
}
.content {
    margin-top: 10vh; /* Hacer espacio para el icono */
    height: 80vh; /* Altura ajustada para dejar espacio al bottom-bar */
    overflow-y: auto; /* Permitir desplazamiento si el contenido es muy largo *
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    display: flex;
}

#contenedor-botones {
    width: 40%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Ocultar la barra de desplazamiento en navegadores basados en WebKit/Blink (como Chrome, Safari, Opera) */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Ocultar la barra de desplazamiento en IE y Edge */
    -ms-overflow-style: none;

    /* Ocultar la barra de desplazamiento en Firefox */
    scrollbar-width: none;
}

.profesor-button {
    font-size: 3em;
    margin: 1% 0; /* Menos margen */
    width: 90%; /* Más estrecho */
    height: 30%; /* Aumentar la altura para cada botón */
    padding: 10px;
    background-color: #FA7D07;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box; /* Asegurar que el padding no afecte el ancho total */
    border-radius: 10px; /* Efecto redondeado */
}

.profesor-button:hover {
    background-color: #FA5407;
}

.profesor-seleccionado {
    transform: scale(1.1);
    border: 6px solid black;
    box-shadow: 0 0 10px #FA7D07;
    transition: transform 0.3s ease;
}

.departamento {
    font-size: 0.8em; /* Tamaño de fuente más pequeño */
}

#info-despacho {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alineación horizontal al centro */
    text-align: center; /* Centrar el texto */
}

#texto-despacho {
    font-size: 4em;
}

#mapa-contenedor {
    position: relative;
    width: 100%; /* O el ancho que prefieras */
    height: auto; /* Ajusta esto según sea necesario para un tamaño más grande */
    margin-top: 20px; /* Espacio entre el texto y la imagen del mapa */
}



#mapa-imagen {
    width: 92%; /* Aumenta el tamaño de la imagen */
    height: auto;
    margin-top:2%;
     /* Añadir efecto de borde degradado */
    /* Añadir efecto de borde degradado más suave */
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 1),
                0 0 45px 30px rgba(255, 255, 255, 0.7);
}

#marcador-posicion {
    width: 50px;
    height: auto;
    position: absolute;
}

/* bottom-bar.css */
#bottom-bar {
    text-align: center;
    background-color: rgba(208, 96, 18, 1); /* Usar RGBA para un poco de transparencia */
    color: white;
    width: 100vw; /* Ancho completo de la ventana gráfica */
    height: 10vh; /* Altura ajustada al diseño */
    margin: 0;
    font-size: 1.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Arial', sans-serif;

    position: fixed;
    bottom: 0;
}

#auth-status {
    font-size: 1.2em;
    margin-bottom: 1vh;
}

#auth-actions button {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 2vh;
    padding: 1vh 2vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

#auth-actions button:hover {
    background-color: #0056b3;
    color: white;
}

