/* DESPACHOS STYLES */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    margin: 0;
}

.location-scroll {
    margin-top: 10vh;
    height: 60vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

#contenedor-botones {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Ocultar la barra de desplazamiento en navegadores basados en WebKit/Blink (como Chrome, Safari, Opera) */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Ocultar la barra de desplazamiento en IE y Edge */
    -ms-overflow-style: none;

    /* Ocultar la barra de desplazamiento en Firefox */
    scrollbar-width: none;
}

.profesor-button {
    font-family: "Gill Sans MT", sans-serif;
    font-size: 1.5em;
    margin: 1% 0;
    width: 90%;
    height: 40%;
    padding: 10px;
    background-color: rgb(208, 96, 18);
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 30px;
}

.profesor-button:hover {
    background-color: rgb(208, 96, 18);
}

.profesor-seleccionado {
    transform: scale(1.1);
    border: 6px solid black;
    box-shadow: 0 0 10px rgb(208, 96, 18);
    transition: transform 0.3s ease;
}

.departamento {
    font-size: 0.8em;
}

#info-despacho {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#texto-despacho {
    font-size: 4em;
    font-family: "Gill Sans MT", sans-serif;
}

#mapa-contenedor {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#mapa-imagen {
    width: 92%;
    height: auto;
    margin-top:2%;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 1),
                0 0 45px 30px rgba(255, 255, 255, 0.7);
}

#marcador-posicion {
    width: 50px;
    height: auto;
    position: absolute;
}

#botones-filtro {
    width: 80%;
    margin-top: 14vh;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

.filtro-button {
    font-family: "Lemon/Milk", sans-serif;;
    font-size: 2em;
    height: 8vh;
    background-color: rgb(208, 96, 18);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 44%;
    margin: 1% 1%;
    box-sizing: border-box;
}

.filtro-button:hover {
    background-color: rgb(208, 96, 18);
}

.filtro-seleccionado {
    transform: scale(1.1);
    border: 4px solid black;
    box-shadow: 0 0 10px rgb(208, 96, 18);
    transition: transform 0.3s ease;
}
