/* SCHEDULE STYLES */

.calendario-contenedor {
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    overflow: auto;
}

h1 {
    font-size: 300%;
    font-family: "Lemon/Milk", sans-serif;
    color: #333;
    text-align: center;
}

.calendario {
    font-size: 0.8vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(28, 1fr);
    height: 100%;
    grid-gap: 1px;

}

.calendario > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
}

.calendario > div:first-child,
.calendario > div:nth-child(-n+6) {
    background-color: #d0d0d0;
}

.sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: lightblue;
    padding: 5px;
    overflow: hidden;
    position: relative;
}
