/* Estilos para la tarjeta de identificación */
.tarjeta {
    position: relative; /* Posición relativa para poder posicionar elementos sobre la tarjeta */
    left: -8%; /* Mover la tarjeta a la mitad del contenedor */
    width: 35%; /* Ajustar al ancho de la página */
}

.tarjeta img {
    width: 150%;
    height: auto;
    display: block; /* Asegurar que la imagen se muestre como bloque */
}

/* Posicionar la información del usuario sobre la tarjeta */
#info{
    position: absolute;
    top: 470px; /* Ajustar según sea necesario para colocar el nombre debajo del icono amarillo */
    left: 150px; /* Ajustar según sea necesario para alinear con el borde izquierdo de la tarjeta */
    color: #000; /* El color del texto */
    width: 200px; /* Ajustar según el ancho de la tarjeta */
}

#foto-usuario {
    position: absolute; /* Posicionar sobre el recuadro blanco */
    top: 380px; /* Ajustar según sea necesario para colocar dentro del recuadro blanco */
    left: 810px; /* Ajustar según sea necesario para alinear con el recuadro blanco */
    width: 250px; /* Ajustar al tamaño del recuadro blanco */
    height: 280px; /* Ajustar al tamaño del recuadro blanco */
    object-fit: cover; /* Asegurar que la imagen cubra todo el espacio sin distorsionarse */
    border-radius: 5px; /* Bordes redondeados para la foto, si es necesario */
}

#qr-usuario {
    position: absolute; /* Posicionar sobre el recuadro blanco */
    top: 220px; /* Ajustar según sea necesario para colocar dentro del recuadro blanco */
    left: 140px; /* Ajustar según sea necesario para alinear con el recuadro blanco */
    width: 190px; /* Ajustar al tamaño del recuadro blanco */
    height: 190px; /* Ajustar al tamaño del recuadro blanco */
    object-fit: cover; /* Asegurar que la imagen cubra todo el espacio sin distorsionarse */
    border-radius: 5px; /* Bordes redondeados para la foto, si es necesario */
    z-index: 10;
}

#info {
    font-size: 2em; /* Ajustar el tamaño de la fuente del nombre */
    font-weight: bold; /* Hacer el nombre en negrita */
    margin: 0; /* Eliminar márgenes por defecto */
    padding-bottom: 10px; /* Espacio debajo del nombre */
}

#contenedor-camara {
    width: 100%; /* Adjust to the desired size */
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: flex; /* Set to flex container to enable horizontal layout */
    flex-direction: row; /* Arrange items horizontally */

}

#contenedor-camara video {
    width: 35%; /* Adjust the width of the video */
}

#contenedor-camara block {
    width: 35%; /* Adjust the width of the block */
}

video, canvas {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
}

#foto-capturada {
    /* Estilos para la foto capturada si es necesario */
}

/* Estilos generales para los botones */
#boton-activar-camara {
    background-color: #4CAF50; /* Color de fondo verde */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 45%;
    color: white;
    padding: 40px 40px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 64px;
}

#boton-capturar:hover {
    background-color: #45a049; /* Color al pasar el mouse */
}

#boton-capturar {
    background: none; /* Sin color de fondo */
    border: none; /* Sin bordes */
    cursor: pointer;
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

#boton-capturar img {
    height: 100%; /* Altura del icono de la cámara */
}

#boton-capturar:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Ligera sombra al pasar el mouse */
}

/* Estilos para el mensaje de actualización */
.mensaje-oculto {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #28a745;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #155724;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
