body {
    height: 3840px;
    width: 2160px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 1.5vw;
}

body {
    display: flex-inline;
    flex-direction: column;
}

.welcome-message h1 {
    font-size: 48px;    /* Set the font size to 48px */
    color: #333; /* Set the font color to #333 (dark gray) */
    margin: 20px 0; /* Set the top and bottom margin to 20px */
    text-align: center; /* Center the text */
}

h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 50px;
    text-align: center;
}

.content {
    position: relative;
    flex: 1;
    margin-bottom: 0;
}

#comedores-container {
    width: 100%;
    height : 10%;
    display: flex;
    flex-direction: row; /* Alinea los elementos en fila */
    justify-content: start;
    align-items: center;
    background-color: #f2f2f2;
    overflow-x: auto; 
}

.comedor-button {
    font-size: 170%;
    margin: 3%;
    height: 80%;
    width: 48%;
    display: block;
    background-color: #FA7D07;
    color: white;
    border: none;
    cursor: pointer;
}

.comedor-button:hover {
    background-color: #FA5407;
}

.dia-button {
    font-size: 100%;
    width:18%;
    margin:1%;
    display: inline-block;
    background-color: #6A6A6A;
    color: white;
    border: none;
    cursor: pointer;
}

.dia-button:hover {
    background-color: #000000;
}

.dia-pasado {
    background-color: #cccccc;
}

#menu-container {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
    max-height: 300px; /* Añade un límite de altura */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}

#menus-detail-container {
    width: 90%; /* Ancho al 80% */
    margin: 5%;
    margin-top: 25%;
    font-size: 150%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#bottom-bar {
    text-align: center;
    background-color: rgba(208, 96, 18, 0.9); /* Usar RGBA para un poco de transparencia */
    color: white;
    width: 100vw; /* Ancho completo de la ventana gráfica */
    height: 10vh; /* Altura ajustada al diseño */
    margin: 0;
    font-size: 1.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    font-size: 200%;
}

#auth-status {
    margin-right: 20px;
}

#auth-actions button {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 2vh;
    padding: 1vh 2vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.6vh;
}

#auth-actions button:hover {
    background-color: #0056b3;
    color: white;
}

#pay-button {
    display: block; /* Hace que el botón sea un bloque para permitir el centrado */
    margin: 0 auto; /* Centra el botón horizontalmente */
    width: 30%; /* Ancho del botón como un porcentaje del contenedor */
    padding: 1% 2%; /* Espaciado interno basado en porcentajes para mantener la proporción */
    font-size: 1.5em; /* Tamaño de fuente relativo */
    color: white; /* Color del texto */
    background-color: rgba(208, 96, 18, 0.9); /* Color de fondo (puedes cambiarlo) */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    display: none;
}

#pay-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón por encima */
}

#message-area {
    width: 80%; /* Ancho relativo a la ventana */
    margin: 2% auto; /* Margen superior e inferior como porcentaje, centrado horizontal */
    padding: 2%; /* Espaciado interno como porcentaje del ancho */
    text-align: center; /* Texto centrado */
    background-color: white; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1); /* Sombra suave, utilizando porcentajes */
    transition: opacity 0.5s ease; /* Transición suave para el desvanecimiento */
    opacity: 1; /* Visible inicialmente */
}

#message-area button {
    padding: 1% 2%; /* Espaciado interno como porcentaje */
    font-size: 1em; /* Tamaño de fuente relativo */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo mano */
}

/* Estilos adicionales para botones de acción */
#message-area button.confirm {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#message-area button.cancel {
    background-color: #f44336; /* Rojo */
    color: white;
}

