/* GENERAL STYLES */ 
body {
    height: 3840px;
    width: 2160px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 1.5vw;
}

body {
    display: flex-inline;
    flex-direction: column;
}

.content {
    position: relative;
    margin-bottom: 0;
    height: 80%;
    width: 100%;
}


.vertical-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: auto;
    margin-top: 5%; /* Espacio en la parte superior del menú */
}


#text-container {
    font-family: 'Ginebra', serif;
    font-weight: bold;
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 4vw; /* Tamaño de la fuente como un porcentaje del ancho de la ventana */
    color: rgb(255, 255, 255); /* Color del texto, ajustable */
    margin-top: 3vh;
    margin-bottom: 0; /* Espaciado vertical basado en la altura de la ventana */
    padding: 1vh 1vw; /* Relleno interno basado en la altura y el ancho de la ventana */
    background-color:#d06012;
    border: 0.1vw solid #cccccc; /* Borde proporcional al ancho de la ventana */
    border-radius: 1vh; /* Radio del borde basado en la altura de la ventana */
    max-width: 50%; /* Ancho máximo del div para evitar que sea demasiado ancho en pantallas grandes */
    margin-left: auto; /* Centra el div horizontalmente */
    margin-right: auto; /* Centra el div horizontalmente */
}



/* bottom-bar.css */
#bottom-bar {
    text-align: center;
    background-color: rgba(208, 96, 18, 0.9); /* Usar RGBA para un poco de transparencia */
    color: white;
    width: 100vw; /* Ancho completo de la ventana gráfica */
    height: 10vh; /* Altura ajustada al diseño */
    margin: 0;
    font-size: 1.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
}

#auth-status {
    font-size: 1.2em;
    margin-bottom: 1vh;
}

#auth-actions button {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 2vh;
    padding: 1vh 2vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
}

#auth-actions button:hover {
    background-color: #0056b3;
    color: white;
}


.menu-item img {
    width: 100%; /* Ajusta esto según el tamaño deseado para tus iconos */
    height: 100%;
}

.menu-item button {
    width: 100%;
    font-size: 200%;
    color: #fff;
    background-color: rgb(208, 96, 18);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    display: block; /* Para asegurar que los botones no estén alineados horizontalmente */
}

.menu-item button:hover {
    background-color: rgb(255, 2, 2);
}

.menu-item.selected,
.menu-item.selected button {
    background-color: red; /* Cambia el color de fondo a rojo */
    color: white; /* Cambia el color del texto a blanco para mejor contraste */
}


.texto-importante {
    width: 100%;
    height: 2%;
    font-size: 450%;
    text-align: center;
}

.icon-container {
    position: relative; /* Position it relative to the first positioned (not static) ancestor element */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000;
}

.icon-container img {
    width: 50%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

/*Esto seguramente haya que mandarlo a la mierda*/
#pointer {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50px;
    pointer-events: none; /* Asegúrate de que el puntero no interfiera con otros eventos del mouse */
}

.welcome-message h1 {
    font-size: 300%;    /* Set the font size to 48px */
    color: #333; /* Set the font color to #333 (dark gray) */
    text-align: center; /* Center the text */
}

h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 50px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    padding: auto;
}

.button-container button {
    display: flex; /* Flex layout for internal alignment */
    flex-direction: column; /* Places icon above the text */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Set a specific width */
    aspect-ratio: 1 / 1; /* Adjust aspect ratio as needed */
    padding: 5%; /* Adjust padding as needed */
    font-size: 230%; /* Adjust font size as needed */
    color: white;
    background-color: #d06012;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden; /* In case content overflows */
}

.button-container button:hover {
    background-color: #9d480d;
}

.button-container img {
    height: 70%;
    width: 70%;
    vertical-align: middle;
}

#webcam-container {
    position: relative;
    top: -20%; /* Alineado justo debajo del botón */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar exactamente */
    border: 5px solid #d06012 !important; /* Color del borde */
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease; /* Transición suave para abrir y cerrar */
    max-height: 0; /* Inicialmente oculto */
    width: 30vw; /* Ancho del marco de la cámara */
    display: none; /* Inicialmente no visible */
}

#webcam-container.active {
    max-height: 12vh; /* Altura del marco de la cámara, igual que el ancho para hacerlo cuadrado */
    display: block; /* Asegura que se muestra */
}

#webcam {
    width: 100%; /* Asegura que el video llene el contenedor */
    height: 100%; /* Asegura que el video llene el contenedor */
}

.horizontal-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25% 5%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; /* Puede cambiar esto según sus necesidades */
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    font-size: 20px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #00397a;
}

.login-form p {
    text-align: center;
    margin: 20px 0;
}