/* GENERAL STYLES */ 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 1.5vw;
}

body {
    display: flex-inline;
    flex-direction: column;

}

.welcome-message h1 {
    font-size: 48px;    /* Set the font size to 48px */
    color: #333; /* Set the font color to #333 (dark gray) */
    margin: 20px 0; /* Set the top and bottom margin to 20px */
    text-align: center; /* Center the text */
}

h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 50px;
    text-align: center;
}

.content {
    position: relative;
    flex: 1;
    margin-bottom: 0;
}

/* POINTER FOR LEAP MOTION */

#pointer {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none; /* Asegúrate de que el puntero no interfiera con otros eventos del mouse */
}

/* INDEX PAGE */

.icon-container {
    position: relative; /* Position it relative to the first positioned (not static) ancestor element */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
}

.icon-container img {
    width: 50%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
}

.bottom-bar {
    position: relative;
    width: 100%;
    height: 25%;
    background-color: rgb(208, 96, 18);
}

.horizontal-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25% 5%;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    padding: auto;
}

.button-container button {
    display: flex; /* Flex layout for internal alignment */
    flex-direction: column; /* Places icon above the text */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Set a specific width */
    aspect-ratio: 1 / 1; /* Adjust aspect ratio as needed */
    padding: 5%; /* Adjust padding as needed */
    font-size: 2rem; /* Adjust font size as needed */
    color: white;
    background-color: #d06012;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden; /* In case content overflows */
}

.button-container button:hover {
    background-color: #9d480d;
}

.button-container img {
    height: 70%;
    width: 70%;
    vertical-align: middle;
}

#webcam-container {
    position: absolute;
    top: 100%; /* Alineado justo debajo del botón */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar exactamente */
    border: 5px solid #d06012 !important; /* Color del borde */
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease; /* Transición suave para abrir y cerrar */
    max-height: 0; /* Inicialmente oculto */
    width: 30vw; /* Ancho del marco de la cámara */
    display: none; /* Inicialmente no visible */
}

#webcam-container.active {
    max-height: 240px; /* Altura del marco de la cámara, igual que el ancho para hacerlo cuadrado */
    display: block; /* Asegura que se muestra */
}

#webcam {
    width: 100%; /* Asegura que el video llene el contenedor */
    height: 100%; /* Asegura que el video llene el contenedor */
}

.avatar-container {
    position: relative;
    display: flex;
    left: 10%; /* Centra el avatar horizontalmente */
    top: -35%;
    width: 20%; /* Tamaño relativo del contenedor del avatar */
}

.avatar-container img {
    width: 80%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    border-radius: 50%;
    border: 3px solid #fff; /* Optional */
    display: inline-block;
}

.avatar {
    width: 100%; /* El avatar ocupa todo el ancho de su contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 50%; /* Para hacerlo circular */
}

.avatar-text {
    background: #ddd;
    color: #333;
    display: inline-block;
      font-size: 2rem;
    line-height: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
      padding: 0 1em;
      position: relative;
      text-align: center;
      vertical-align: top;
          min-width: 7em;
          border-radius: .4em;
  }
  .avatar-text:after {
      border: 1em solid transparent;
      border-top-color: #ddd;
      content: '';
      margin-left: -1em;
      position: absolute;
          top: 100%;
          left: 50%;
      width: 0;
      height: 0;
      border-top-color: #ddf;
  }

.avatar-container:hover .avatar-text {
    display: block; /* Muestra el bocadillo al pasar el cursor sobre el avatar */
}

.vertical-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    height: 1920px;
    margin: auto;
    padding-top: 50px; /* Espacio en la parte superior del menú */
}

/* MENU PAGE */

.menu-item {
    margin: 20px 0;
    text-align: center;
}

.menu-item img {
    width: 80px; /* Ajusta esto según el tamaño deseado para tus iconos */
    height: auto;
    margin-bottom: 10px;
}

.menu-item button {
    font-size: 20px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Para asegurar que los botones no estén alineados horizontalmente */
}

.menu-item button:hover {
    background-color: #00397a;
}

/* Si necesitas que los botones estén uno al lado del otro horizontalmente */
@media (min-width: 1080px) {
    .menu-item {
        flex-direction: row;
        justify-content: center;
    }
}

/* Añade esto a tu archivo styles.css */

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; /* Puede cambiar esto según sus necesidades */
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    font-size: 20px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #00397a;
}

.login-form p {
    text-align: center;
    margin: 20px 0;
}

#comedores-container {
    display: flex;
    flex-direction: row; /* Alinea los elementos en fila */
    justify-content: start;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    overflow-x: auto; /* Para scrolling horizontal si hay muchos botones */
    /* Resto de tus estilos... */
}

.comedor-button {
    display: block;
    align-items: center;
    margin: 5px;
    padding: 10px;
    background-color: #FA7D07;
    color: white;
    border: none;
    cursor: pointer;
}

.comedor-button:hover {
    background-color: #FA5407;
}

.dia-button {
    display: inline-block;
    margin: 5px;
    padding: 8px;
    background-color: #6A6A6A;
    color: white;
    border: none;
    cursor: pointer;
}

.dia-button:hover {
    background-color: #000000;
}

.dia-pasado {
    background-color: #cccccc;
}


#menu-container {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
    max-height: 300px; /* Añade un límite de altura */
    overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}

#menus-detail-container {
    width: 80%; /* Ancho al 80% */
    padding: 30px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}



/* Estilos específicos para la página de Trámites Administrativos */
#Tramites-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#Tramites-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Si los botones son diferentes de los ya existentes, puedes crear una clase nueva para ellos */
.tramites-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tramites-button:hover {
    background-color: #00397a;
}

.tramites-button:disabled {
    background-color: #cccccc;
    cursor: default;
}


/* Estilos para la sección de citas */
#agenda-citas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilo para el input de fecha y el botón de buscar citas */
#fecha-cita,
#buscar-citas {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para la lista de citas disponibles */
#citas-disponibles {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 100%;
    max-width: 600px; /* Ajustar según el diseño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para cada cita disponible individual */
.cita-disponible {
    padding: 15px;
    margin: 10px 0;
    background-color: #e7e7e7;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cita-disponible:hover {
    background-color: #d7d7d7;
}

/* Estilos para mostrar la cita seleccionada y el botón de confirmación */
#confirmacion-cita {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#confirmacion-cita p {
    font-size: 18px;
    color: #333;
}

#confirmar-cita {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirmar-cita:hover {
    background-color: #218838;
}

/* Estilos para la visualización de mensajes de alerta o confirmación */
.alerta,
.confirmacion {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.alerta {
    background-color: #dc3545;
}

.confirmacion {
    background-color: #28a745;
}

.cita-disponible.reservado {
    background-color: #cccccc;
    color: #666666;
    text-decoration: line-through;
    cursor: default;
}

#user-info {
    text-align: center;
    background-color: #0056b3;
    color: white;
    padding: 5px 10px; /* Reducir el padding vertical y horizontal */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%; /* Hacer el contenedor aún más estrecho */
    margin: 0 auto; /* Centra el bloque */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 0.8em; /* Reducir un poco más el tamaño de la fuente */
}

#user-info p {
    margin: 5px 0; /* Reducir el margen alrededor del texto */
}


#user-info button {
    background-color: white; /* Fondo blanco */
    color: #007bff; /* Texto azul */
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Padding interior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s, color 0.3s; /* Transición suave de colores */
}

#user-info button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
    color: white; /* Texto blanco al pasar el ratón */
}



